# Scrape the tables from the URLs

In [11]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"
headers = {
    "User-Agent": "MyResearchBot/1.0 (contact: adhainje1987@gmail.com)"
}
page = requests.get(url, headers=headers)
# page = requests.get(url)
content = BeautifulSoup(page.text, "html")

In [3]:
table = content.find("table", class_="wikitable sortable")
titles = [t.text.strip() for t in table.find_all("th")]
df = pd.DataFrame(columns = titles)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [4]:
column_data = table.find_all("tr")
for row in column_data:
    row = row.find_all("td")
    individual_column_data = [t.text.strip() for t in row]
    if(len(individual_column_data) > 0):
        length = len(df)
        df.loc[length] = individual_column_data
df.head()

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"680,985",5.1%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"637,959",11.0%,"1,556,000","Seattle, Washington"
2,3,UnitedHealth Group,Healthcare,"400,278",7.7%,"400,000","Minnetonka, Minnesota"
3,4,Apple,Technology,"391,035",2.0%,"164,000","Cupertino, California"
4,5,CVS Health,Healthcare,"372,809",4.2%,"259,500","Woonsocket, Rhode Island"

In [5]:
df.shape

(100, 7)

In [6]:
url = "https://www.worldometers.info/world-population/population-by-country/"
headers = {
    "User-Agent": "MyResearchBot/1.0 (contact: adhainje1987@gmail.com)"
}
page = requests.get(url, headers=headers)
content = BeautifulSoup(page.text, "html")

In [7]:
table = content.find("table")
titles = [t.text.strip() for t in table.find_all("th")]
df = pd.DataFrame(columns = titles)
df

Empty DataFrame
Columns: [#, Country (or dependency), Population 2025, Yearly Change, Net Change, Density (P/KmÂ²), Land Area (KmÂ²), Migrants (net), Fert. Rate, Median Age, Urban Pop %, World Share]
Index: []

In [10]:
column_data = table.find_all("tr")
for row in column_data:
    row = row.find_all("td")
    individual_column_data = [t.text.strip() for t in row]
    if(len(individual_column_data) > 0):
        length = len(df)
        df.loc[length] = individual_column_data
df_indexed = df.set_index('#')
df_indexed.head()

,Country (or dependency),Population 2025,Yearly Change,Net Change,Density (P/KmÂ²),Land Area (KmÂ²),Migrants (net),Fert. Rate,Median Age,Urban Pop %,World Share
#,,,,,,,,,,,
1,India,"1,463,865,525",0.89%,"12,929,734",492,"2,973,190","â495,753",1.94,28.8,37.1%,17.78%
2,China,"1,416,096,094",â0.23%,"â3,225,184",151,"9,388,211","â268,126",1.02,40.1,67.5%,17.20%
3,United States,"347,275,807",0.54%,"1,849,236",38,"9,147,420","1,230,663",1.62,38.5,82.8%,4.22%
4,Indonesia,"285,721,236",0.79%,"2,233,305",158,"1,811,570","â39,509",2.1,30.4,59.6%,3.47%
5,Pakistan,"255,219,554",1.57%,"3,950,390",331,"770,880","â1,235,336",3.5,20.6,34.4%,3.10%